:root {
  --input-width: 3rem;
  --input-height: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

.primary-nav {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
}

.card {
  text-align: center;
  width: 550px;
  max-width: 90%;
  margin: 0 auto;
  padding: 2em;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

h1 {
  margin-bottom: 1em;
}

h3,
p {
  margin-bottom: 2em;
}

select,
input,
button {
  margin-left: 3em;
}

select {
  width: var(--input-width);
  height: var(--input-height);
}

input {
  width: var(--input-width);
  height: var(--input-height);
}

button {
  width: var(--input-width);
  height: var(--input-height);
}

label {
  margin-bottom: 2em;
}
