:root {
  --input-width: 3rem;
  --input-height: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

nav {
  display: inline-block;
  margin-left: 2em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

.active {
  font-weight: bold;
}

header {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-top: 1em;
}

header h1 {
  display: inline;
}

#hamburger {
  display: none;
}

.card {
  width: 550px;
  max-width: 90%;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

label {
  display: block;
}

#advanced {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 2em;
}

button,
select {
  padding: 0.5em 1em;
}

input {
  padding: 0.5em 0;
}

i {
  display: block;
  margin-bottom: 0.5em;
}

@media (width < 600px) {
  #hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
  }

  nav {
    visibility: hidden;
    height: 0;
    display: block;
    margin: 0;
    transition: height 1s ease;
  }

  .open {
    visibility: visible;
    height: auto;
  }

  nav ul {
    display: block;
    text-align: center;
  }
  nav ul li {
    margin-top: 1em;
  }
}
